/*=====================GOOGLE FONTS=====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');

/*=====================CSS VARIABLES=====================*/
:root {
    --header-height: 3rem;
    /*=====================COLORS=====================*/
    --first-color: #032975;
    --first-color-alt: hsl(219, 69%, 52%);
    --title-color: hsl(219, 8%, 95%);
    --text-color: hsl(219, 8%, 75%);
    --text-color-light: hsl(219, 4%, 55%);
    --white-color: #fcfcfc;
    --body-color: var(--white-color);
    --container-color: hsl(219, 4%, 7%);
    /*=====================FONTS AND TYPOGRAPHY=====================*/
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*=====================FONT WEIGHT=====================*/
    --font-medium: 500;
    --font-semi-bold: 600;
}

/*=====================BODY=====================*/
html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif !important;
    margin: auto;
    background-color: #fcfcfc !important;
    user-select: none;
    overflow-x: hidden;
    position: relative;
}

button {
    letter-spacing: 1px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*=====================CHANNELS=====================*/
.social a {
    color: var(--first-color);
    background: white;
    border-radius: 3px;
    margin-bottom: 2px;
    font-size: 17px;
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    box-shadow: 1px 1px 5px #ccccccaf;
}

.social {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 155px;
    z-index: 115;
}

.social i {
    margin-top: 25%;
}

/*=====================HEADER AND NAVBAR=====================*/
.header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: var(--white-color);
    background-color: #032975;
    padding: 10px;
    box-shadow: 0px 0px 10px #1f71e8;
    z-index: 200
}

.navbar {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 6px 10px 6px 10px;
}

    .search object {
        color: #fff;
        padding: 0 5px 0 5px;
        width: 22px;
    }

.search-field {
    font-size: 13px;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    width: 80%;
}

    .search-field:focus {
        outline: none !important;
        border-color: none;
        box-shadow: 0 0 0;
    }

    .search-field::placeholder {
        color: #ababab;
    }

.solutions-button {
    cursor: pointer;
}

.logo {
    padding-right: 20px;
}

    .logo object {
        width: 100px;
    }

.fa-angle-down {
    padding: 5px
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

    .dropdown-content a {
        color: #2d2d2d;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 10px;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
            color: #161616
        }

        .dropdown-content a:active {
            background-color: var(--first-color);
            border-radius: 10px;
            color: #fff
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.solutions-options-col {
    display: none
}

.blue-logo {
    display: none
}

.nav-menu-search {
    display: none;
}

.nav-toggle {
    display: inline-flex;
}

.nav-toggle, .nav-close {
    display: none;
    cursor: pointer;
}

.horizontal-line-navbar {
    display: none;
}




@media screen and (max-width: 767px) {

    .nav-menu {
        left: -100%;
        position: fixed;
        background-color: #fcfcfc;
        top: 0;
        width: 100%;
        height: 100%;
        transition: .3s;
        border: 1px solid #fcfcfc;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .solutions-options-col {
        display: inline;
    }

    .solutions-list-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        row-gap: 1rem;
        margin-right: 7%;
        font-size: 13px;
        margin-top: 3rem;
    }

    .solutions-list-title {
        padding-top: 1rem;
        color: #fcfcfc;
        font-size: 20px;
        font-family: 'Exo', sans-serif;
        color: var(--first-color);
        font-weight: bold;
    }

    .solutions-list-content li a {
        color: #FFF;
        font-weight: 100;
        text-decoration: none;
        border: 1.5px solid var(--first-color-alt);
        border-radius: 25px;
        padding: 10px 10px;
        display: block;
        width: 60%;
        margin: 0 auto;
        background-color: var(--first-color-alt);
    }

    .solutions-list-content li {
        margin-bottom: 15px;
    }

        .solutions-list-content li:first-child {
            margin-bottom: 0px;
        }

        .solutions-list-content li:last-child {
            margin-bottom: 0px;
        }

    .search-div {
        display: none
    }

    .nav-menu-search {
        display: inline;
    }

    .horizontal-line-navbar {
        display: none;
        margin: 0 auto;
        width: 125px;
        height: 2px;
        background-color: rgb(67,147,165);
        margin-top: 3rem;
    }

    .search-parent-div {
        width: 100%;
    }

    .search-field {
        font-size: 13px;
        border: none;
        background-color: var(--first-color);
        color: #032975;
        width: 100%;
    }

        .search-field::placeholder {
            color: #032975;
        }

    .search svg {
        padding: 0 5px 0 5px;
        width: 22px;
    }

    .search {
        width: 100%;
        margin: 0 auto;
        margin-top: 35px;
        border: 1px solid #032975;
    }

    .search-field {
        width: 90%;
        background-color: #fcfcfc;
        color: #032975;
    }

    .search img {
        color: #032975;
    }

    .solutions-button {
        display: none;
    }

    .nav-close {
        display: block;
        font-size: 30px;
        position: absolute;
        top: 1%;
        right: 4%
    }

        .nav-close i {
            color: #032975;
        }

    .logo {
        margin: 0 auto;
        padding-right: 40px;
    }

        .logo img {
            width: 100px
        }

    .blue-logo {
        display: inline;
        padding-top: 20px;
    }

        .blue-logo svg {
            width: 120px;
        }

    .nav-toggle {
        display: block;
        font-size: 25px;
        padding-left: 5px;
    }

    .social {
        display: none
    }
}

.show-menu {
    left: 0;
}

/*=====================FOOTER=====================*/
.colored-bar {
    color: var(--white-color);
    background-color: #001338;
    padding: 25px 0 25px 0
}

.social-icons {
    margin-bottom: 25px;
}

    .social-icons a {
        margin: 6px;
        text-decoration: none;
        color: #fff;
        font-size: 17px;
    }

.contact-info small {
    margin: 5px;
    font-size: 12px;
}

.address {
    margin-top: 5px;
}

    .address small {
        font-size: 12px;
    }

.logo-ft {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0); /* TRANSPARENT */
}

    .logo-ft object {
        width: 180px;
    }