
@{
    ViewData["Title"] = "Jornada do Cliente";
}

<section class="journey">
    <div class="container">
        <div class="col">
            <h1 class="journey-title text-center">Jornada</h1>

            <div class="journey-course">
                <div class="block">
                    <b><i class="fa-solid fa-award" style="color: #858c8f;"></i></b>
                    <h2 class="journey-start"><i></i>Início da Jornada</h2>
                    <article>
                        <sup>01</sup>
                        <strong>Primeiro passo da Jornada</strong>
                        <em>Selo Prata</em>
                    </article>
                </div>

                <div class="block">
                    <b><i class="fa-solid fa-award" style="color: #858c8f;"></i></b>
                    <article>
                        <sup>02</sup>
                        <strong>Segundo passo da Jornada</strong>
                        <em>Selo Prata</em>
                    </article>
                </div>

                <div class="block">
                    <b><i class="fa-solid fa-award" style="color: #858c8f;"></i></b>
                    <article>
                        <sup>03</sup>
                        <strong>Terceiro passo da Jornada</strong>
                        <em>Selo Prata</em>
                    </article>
                </div>

                <div class="block">
                    <b><i class="fa-solid fa-award" style="color: #858c8f;"></i></b>
                    <article>
                        <sup>04</sup>
                        <strong>Quarto passo da Jornada</strong>
                        <em>Selo Prata</em>
                    </article>
                </div>

                <div class="block">
                    <b><i class="fa-solid fa-trophy" style="color: #ffd414;"></i></b>
                    <article>
                        <sup>05</sup>
                        <strong>Reconhecimento da Indústria</strong>
                        <em>Selo Ouro</em>
                    </article>
                </div>

                <div class="block">
                    <h2 class="journey-end"><i></i>Término da Jornada</h2>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="about-journey">
    <div class="container">
        <div class="col">
            <h2 class="about-journey-title text-center">Sobre a Jornada</h2>
            <p class="about-journey-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc scelerisque. Nibh nisl condimentum id venenatis a. Laoreet id donec ultrices tincidunt arcu non sodales neque. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Vitae ultricies leo integer malesuada nunc vel. Non tellus orci ac auctor augue mauris augue neque. Nulla pharetra diam sit amet nisl. Commodo nulla facilisi nullam vehicula. Lacus vel facilisis volutpat est velit. Ornare arcu odio ut sem nulla pharetra diam. Tincidunt praesent semper feugiat nibh sed pulvinar proin. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Eu nisl nunc mi ipsum faucibus vitae aliquet. Nunc sed augue lacus viverra vitae congue. Maecenas pharetra convallis posuere morbi leo urna. Sed elementum tempus egestas sed sed. Enim sed faucibus turpis in eu.
                <br><br>
                Arcu cursus euismod quis viverra nibh. Non nisi est sit amet. Elit sed vulputate mi sit. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Consequat id porta nibh venenatis cras. Dolor sit amet consectetur adipiscing elit ut aliquam purus sit. Mauris pharetra et ultrices neque ornare aenean euismod elementum. Aliquam id diam maecenas ultricies mi eget. Velit egestas dui id ornare arcu odio ut sem nulla. Non arcu risus quis varius quam. Massa sapien faucibus et molestie ac feugiat. Quam viverra orci sagittis eu. Eu non diam phasellus vestibulum lorem sed risus ultricies tristique. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi.
            </p>
            <div class="about-journey-icon text-center">
                <i class="fa-solid fa-award"></i>
            </div>
        </div>
    </div>
</section>