<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sesi Flow</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <!-- HEADER -->
    <header class="header" id="header">
        <section class="container navbar">

            <div class="nav-toggle" id="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

            
            <div class="logo col-xl-3 col-md-3 col-sm-3 coltext-start">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/svg/logo_SESI_Flow_branco.svg">
                </a> 
            </div>
            

            <div class="avulso col-xl-5 col-md-3 col-sm-3 text-center"></div>

            <div class="solutions-button col-xl-2 col-md-3 col-sm-3 text-start">
                <div class="dropdown">
                    Soluções em SST
                    <i class="fa-solid fa-angle-down"></i>
                    <div class="dropdown-content">
                        <a asp-controller="Catalog" asp-action="Index">Segurança do Trabalho</a>
                        <a asp-controller="Catalog" asp-action="Index">Saúde Ocupacional</a>
                        <a asp-controller="Catalog" asp-action="Index">Promoção da Saúde</a>
                        <a asp-controller="Catalog" asp-action="Index">Treinamentos</a>
                    </div>
                </div>
            </div>

            <div class="search-div  col-xl-2 col-md-3 col-sm-3 text-center">
                <div class="search">
                    <img src="~/svg/lupa.svg">
                    <input class="search-field" type="text" placeholder="Buscar">
                </div>
            </div>

            <!-- RESPONSIVE NAVBAR MENU -->
            <partial name="_ResponsiveNavbar" />

        </section>
    </header>

    <!-- CHANNELS -->
    <section class="social">
        <div class="container">
            <div class="col">
                <a href="https://api.whatsapp.com/send?phone=556733203425&text=Oi" class="bt whatsapp" target="_blank"
                   rel="nofollow"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.facebook.com/mssesi/?fref=nf" class="bt facebook" target="_blank" rel="nofollow">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/sesi_ms/" class="bt instagram" target="_blank" rel="nofollow">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://twitter.com/Sesi_ms" class="bt twitter" target="_blank" rel="nofollow">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCdhKg8aXe2r917GIfH55AHQ" class="bt youtube" target="_blank"
                   rel="nofollow"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.linkedin.com/company/sesi-mato-grosso-do-sul/?viewAsMember=true"
                   class="bt linkedin" target="_blank" rel="nofollow"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </section>

    @RenderBody()

    <!-- FOOTER -->
    <footer class="footer" id="footer">
        <section class="colored-bar">
            <div class="container">
                <div class="col">
                    <div class="social-icons col-xl-12 text-center">
                        <a href="https://www.facebook.com/mssesi/?fref=nf" class="facebook-ft" target="_blank"
                           rel="nofollow"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/sesi_ms/" class="instagram-ft" target="_blank"
                           rel="nofollow"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://twitter.com/Sesi_ms" class="twitter-ft" target="_blank" rel="nofollow">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCdhKg8aXe2r917GIfH55AHQ" class="youtube-ft"
                           target="_blank" rel="nofollow"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/company/sesi-mato-grosso-do-sul/?viewAsMember=true"
                           class="linkedin-ft" target="_blank" rel="nofollow">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="https://api.whatsapp.com/send?phone=556733203425&text=Oi" class="whatsapp-ft col"
                           target="_blank" rel="nofollow"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>

                    <div class="contact-info col-xl-12 text-center">
                        <small class="phone">(67) 3320-3425 </small>
                        <small>|</small>
                        <small class="website">sst@sesims.com.br</small>
                    </div>

                    <div class="address col-xl-12 text-center">
                        <small>Av. Afonso Pena, 3123 - Centro - 79002-072 | Campo Grande - MS</small>
                    </div>
                </div>
            </div>
        </section>

        <section class="footer-logo">
            <div class="logo-ft col-xl-12 text-center">
                <img src="~/svg/logo_SESI_Flow_azul.svg">
            </div>
        </section>
    </footer>


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
